// Colors
$gray-base:       #000 !default;
$gray-darker:     lighten($gray-base, 13.5%) !default; // #222
$gray-dark:       lighten($gray-base, 20%) !default;   // #333
$gray:            lighten($gray-base, 33.5%) !default; // #555
$gray-light:      lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:    #d1d2d4 !default;

$primary:         #00B5AD !default; // darken(#337ab7, 6.5%) 
$success:         #5cb85c !default;
$info:            #5bc0de !default;
$warning:         #f0ad4e !default;
$danger:          #EF3E3E !default; // #d9534f

$white:						#fff;


$font-family-sans-serif:  Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
